@model CarBook.Dto.CommentDtos.CreateCommentDto

<div class="comment-form-wrap pt-5">
	<h3 class="mb-5">Bir Yorum Yapın</h3>
    @if (TempData["CommentSuccess"] != null)
    {
        <div class="alert alert-success">@TempData["CommentSuccess"]</div>
    }
    @if (TempData["CommentError"] != null)
    {
        <div class="alert alert-danger">@Html.Raw(TempData["CommentError"])</div>
    }
    <form method="post" asp-action="AddComment" asp-controller="Blog" class="p-5 bg-light">
        <input type="hidden" asp-for="BlogId" value="@ViewBag.blogid" />

        <div class="form-group">
            <label asp-for="Name">Adınız Soyadınız *</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Email">Email *</label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Description">Yorumunuz * </label>
            <textarea asp-for="Description" class="form-control" cols="30" rows="10"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Yorum Yap" class="btn btn-primary" />
        </div>
    </form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>